In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

In [2]:
data=pd.read_csv("G:/ExcelR_Data/Data_Science_Course/Data_Set/iris.csv")
data.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
#Converting categorical values into numeric values
from sklearn import preprocessing 
le=preprocessing.LabelEncoder()
data["Species"]=le.fit_transform(data["Species"])

In [4]:
#Input variables
x=data.iloc[:,0:4]
x.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [5]:
#Target variable
y=data.iloc[:,4]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Species, dtype: int32

In [6]:
data.Species.value_counts()

2    50
1    50
0    50
Name: Species, dtype: int64

In [7]:
#Preparing model
kfold = KFold(n_splits=10, random_state=7)
model = RandomForestClassifier(n_estimators=100, max_features=4)

C:\Users\AshishD7715\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:293: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  warnings.warn(

In [8]:
#Cross val score of model
results = cross_val_score(model, x, y, cv=kfold)
print(results.mean())

0.9466666666666667

In [9]:
model.fit(x,y)
preds = model.predict(x)
preds

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [10]:
pd.Series(preds).value_counts() # getting the count of each category

2    50
1    50
0    50
dtype: int64

In [11]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y,preds)

array([[50,  0,  0],
       [ 0, 50,  0],
       [ 0,  0, 50]], dtype=int64)

In [12]:
pd.crosstab(y,preds)  # getting the 2 way table to understand the correct and wrong predictions

col_0     0   1   2
Species
0        50   0   0
1         0  50   0
2         0   0  50

In [13]:
# classification_report
from sklearn.metrics import classification_report
print(classification_report(y,preds))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        50
           1       1.00      1.00      1.00        50
           2       1.00      1.00      1.00        50

    accuracy                           1.00       150
   macro avg       1.00      1.00      1.00       150
weighted avg       1.00      1.00      1.00       150